:root {
  --black: #1c1c1c;
  --gray: #808080;
  --white: #f2f2f2f2;
  --purple: #cc79e8;
  --blue: #7a8ffa;
  --paper: #fff8eb;
  --red: #FF8A8A;
  --red-warning: #990000;
  --green: #6acf84;
  --yellow: #fcdb38;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.3s all ease-in-out;
}

/** Global styles here will be automatically applied, can be overritten where used. **/

body {
  background-color: var(--white);
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
  color: var(--black);
  font-size: 3rem;
}

h2 {
  color: var(--black);
  font-size: 2.5rem;
}

h3 {
  color: var(--black);
  font-size: 2rem;
}

h4 {
  color: var(--black);
  font-size: 1.85rem;
}

h5 {
  color: var(--black);
  font-size: 1.6rem;
}

h6 {
  color: var(--black);
  font-size: 1.45rem;
}

label,
p {
  color: var(--black);
  font-family: "Calibri", sans-serif;
  font-size: 1.25rem;
}

a {
  color: var(--black);
  font-family: "Calibri", sans-serif;
  text-decoration: none;
}

a:hover {
  color: var(--gray);
}

button {
  border: 1px solid var(--black);
  border-radius: 16px;
  color: var(--black);
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 300;
  padding: 0.8rem 1.6rem;
}

button:hover {
  scale: 1.1;
}

/** Custom classes for broadly used styles. **/

/* flex container */
.flex-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

/* invalid control */
.invalid-control {
  border: 1px solid red;
}

/* custom dropdown */
.nav-arrow {
  border: solid var(--black);
  border-width: 0 3px 3px 0;
  display: inline-block;
  margin: 0 5px;
  margin-bottom: 5px;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dropdownbtn {
  background-color: #FFF;
  color: var(--black);
  height: 40px;
  min-width: 112px;
  padding: 0;
}

.dropdown {
  align-items: center;
  display: none;
  font-size: 15px;
  position: relative;
}

.dropdown-content {
  background-color: #FFF;
  border-radius: 16px;
  display: block;
  width: 220px;
  position: absolute;
  top: -3000px;
  right: 0;
  transition: none;
  z-index: 1;
}

.dropdownbtn:hover {
  scale: 1;
}

.dropdownbtn:hover .nav-arrow,
.dropdownbtn:focus .nav-arrow {
  transform: rotate(45deg);
}

.dropdownbtn:focus + .dropdown-content,
.dropdown-content:focus-within {
  border: 1px solid var(--gray);
  top: 35px;
}

/* Media Queries */
@media only screen and (max-width: 1090px) {
  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 1.85rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  h4 {
    font-size: 1.45rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1rem;
  }

  label,
  p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 440px) {
}
