.controls-btn {
  background-color: var(--black);
  border-radius: 0 0 16px 0;
  color: var(--white);
  height: 64px;
  position: fixed;
  top: 0;
  left: 0;
  width: 284px;
  z-index: 100;
}

.controls-btn:hover {
  scale: 1;
}

.controls-btn i {
  font-size: 1.5rem;
}

.controls-btn:hover span {
  text-decoration: underline;
}

.controls-container {
  background-color: var(--black);
  height: calc(100vh - 64px);
  position: fixed;
  top: 64px;
  left: -284px;
  width: 284px;
  z-index: 100;
}

.controls-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
}

.controls-container li {
  display: flex;
  justify-content: center;
}

.controls-container button {
  background-color: var(--black);
  color: var(--white);
  font-size: 1.2rem;
  text-align: left;
  width: 90%;
}

.timer-list-container {
  gap: 0px;
}

.timer-container {
  align-items: center;
  border: 1px solid var(--black);
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 16px;
  min-height: 50vh;
  min-width: 50%;
}

.btn-warning {
  background-color: var(--red-warning);
  color: var(--white);
}

.timer-form {
  align-items: center;
  border-bottom: 2px solid var(--black);
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  min-height: 50vh;
  padding: 80px 16px 16px 16px;
  width: 100%;
}

.timer-form input {
  border-radius: 8px;
  height: 30px;
  font-size: 1.25rem;
}

.timer-form .btn-add-timer {
  align-items: center;
  background: none;
  border: none;
  color: var(--black);
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  font-size: 2.25rem;
  transition: none;
}

.timer-form .btn-add-timer:hover {
  background: none;
  border: none;
  color: var(--black);
}

.timer-form .btn-add-timer i {
  font-size: 5rem;
  transition: none;
}

.timer-form .btn-add-timer:hover i {
  scale: 1.2;
}

.time-input {
  border: none;
  text-align: center;
  width: 30px;
}

#txtName {
  height: 40px;
  width: 250px;
}

.audio-dropdown,
.colour-dropdown {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 16px;
  list-style-type: none;
  padding: 6px;
}

.audiobtn {
  width: 250px;
}

.audio-content {
  padding: 8px;
  width: 250px;
}

.audio-container,
.colour-container {
  display: flex;
}

.dropdown .audio-option,
.dropdown .colour-option {
  background-color: transparent;
  border: none;
  border-radius: 0;
  cursor: pointer;
  display: block;
  height: auto;
  padding-left: 4px;
  text-align: left;
  width: 90px;
}

.dropdown .audio-option {
  border-bottom: 1px solid var(--black);
  padding: 8px 0px;
  width: 100%;
}

#timeContainer {
  background-color: #fff;
  border: 1px solid var(--black);
  border-radius: 16px;
  padding: 5px;
}

#txtMessage {
  border-radius: 8px;
  height: 100px;
  padding: 8px;
  resize: vertical;
  transition: none;
  width: 250px;
}

#btnStart {
  background-color: #fff;
  cursor: pointer;
  height: 48px;
  width: 124px;
}

#btnStart:hover {
  scale: 1.1;
}


@media only screen and (max-width:768px) {
    .timer-container {
      flex-direction: column !important;
      gap: 8px !important;
      min-height: auto !important;
    }

    #btnListView {
      display: none;
    }
}